body{
      background-color: #b0e0e6;
}

hr{
  border-style: dotted none none;
  border-width:  5px;
  border-color: white;
  width: 5%;
}

h1{
  color:  #ebaf2b;
  text-shadow: 1px 1px black;
}

h3, th{
  color: #ebaf2b;
  text-shadow: 1px 1px black;
}
